.header {
    display: flex;
    flex: 1 auto;
    gap: 8px;
    align-items: end;
}

.progressBarContainer {
    background: lightgray;
    height: 24px;
    border-radius: 16px;
}

.progressBarFill {
    background: linear-gradient(
        90deg,
        rgba(100, 200, 100, 1) 0%,
        rgba(75, 150, 75, 1) 50%,
        rgba(100, 200, 100, 1) 100%
    );
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    height: 100%;
    border-radius: inherit;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}
