/* Expand Group Component Styles */

.group {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition:
        max-height 0.3s ease-in-out,
        padding 0.3s ease-in-out;
    padding: 0;
    cursor: auto;
}

.group.expanded {
    max-height: 400px;
}

.group.container {
    margin-top: 0;
    transition: var(--minerva-transition-smooth);
}

.group.container.expanded {
    margin-top: 12px;
    transition: var(--minerva-transition-smooth);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 6px;
    background: rgba(0, 0, 0, 0.02);
    border-radius: 12px;
}
